

.book-btn{
    display: grid;
    place-items: center;
}
.book-btn svg{
    display: none;
    animation: spin 1s linear infinite;
    fill: white;
}
.book-btn.disabled svg{
    display: block;
}
.book-btn.disabled span
{
    display: none;
}

.booking-faded-bg{
    background-color: #d8132311 ;
    padding: 0;
    border: 1px solid #d8132312;
}

.row{
    width: 100%;
    margin-right: unset;
    margin-left: unset;
}

.left-column{
    background-color: white;
}

.left-column h1,
.summary-column h1{
    text-align: left;
    font-size: 28px;
}

.col-12 .form-control.border-0,
.col-12 .form-select.border-0{
    padding: 4px 10px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid rgba(128, 128, 128, 0.155) !important;
}


.summary-column{
    background-color: white;

}

.summary-inner{
   width: 100%;
   max-width: 520px;
   margin: auto;
   height: 100%;
}

.better-booking .col-lg-6{
    padding: 5px !important;
}

.summary-txt{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 15px;
}

.separator{
    width: 100%;
    height: 1px;
    background-color: #d8132311;
    margin: 20px 0;
}

.balance-span-txt{
    font-weight: 600;
    font-size: 15.5px;
}

.tot-span-txt{
    font-weight: 700;
    font-size: 17.5px;
}

.alert-txt{
    background-color: #d8132311;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    border-radius: 4px;
    height: 55px;
    display: grid;
    place-items: center;
    margin-bottom: 30px;
    color: grey;
    font-weight: 500;
}


@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 500px) {
    .better-booking .row .p-5{
        padding: 10px !important;
    }
    
}