<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>CarEase - Car Repair HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="static/img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="{{ url_for('static', filename='lib/animate/animate.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />

    <!-- Template Stylesheet -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/services.css') }}"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.8.4/axios.min.js"
      integrity="sha512-2A1+/TAny5loNGk3RBbk11FwoKXYOMfAK6R7r4CpQH7Luz4pezqEGcfphoNzB7SM4dixUoJsKkBsB6kg+dNE2g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      defer
    ></script>
    <!-- Add CSS in head -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/js-toast-notifier/dist/index.css"
    />
  </head>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div
        class="spinner-border text-primary"
        style="width: 3rem; height: 3rem"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Spinner End -->

    <!-- Topbar Start -->
    <div class="container-fluid bg-light p-0">
      <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
          <div class="h-100 d-inline-flex align-items-center py-3 me-4">
            <small class="fa fa-map-marker-alt text-primary me-2"></small>
            <small>General methenge/Westlands</small>
          </div>
          <div class="h-100 d-inline-flex align-items-center py-3">
            <small class="far fa-clock text-primary me-2"></small>
            <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
          </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
          <div class="h-100 d-inline-flex align-items-center py-3 me-4">
            <small class="fa fa-phone-alt text-primary me-2"></small>
            <small>+254 745 678 900</small>
          </div>
          <div class="h-100 d-inline-flex align-items-center">
            <a class="btn btn-sm-square bg-white text-primary me-1" href=""
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-sm-square bg-white text-primary me-1" href=""
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-sm-square bg-white text-primary me-1" href=""
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a class="btn btn-sm-square bg-white text-primary me-0" href=""
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar Start -->
    <nav
      class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0"
    >
      <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>CarEase</h2>
      </a>
      <button
        type="button"
        class="navbar-toggler me-4"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
          <a href="/" class="nav-item nav-link">Home</a>
          <a href="/about" class="nav-item nav-link">About</a>
          <a href="/services" class="nav-item nav-link active">Services</a>
          <a href="/tracking" class="nav-item nav-link">Tracking</a>
          <a href="/contact" class="nav-item nav-link">Contact</a>
          <a href="/progress" class="nav-item nav-link xl-hidden">Progress</a>
        </div>
        <a
          href="/progress"
          class="btn btn-primary py-4 px-lg-5 d-none d-lg-block"
          >Progress<i class="fa fa-arrow-right ms-3"></i
        ></a>
      </div>
    </nav>
    <!-- Navbar End -->

    <!-- Page Header Start -->
    <div
      class="container-fluid page-header mb-5 p-0"
      style="background-image: url(static/img/carousel-bg-2.jpg)"
    >
      <div class="container-fluid page-header-inner py-5">
        <div class="container text-center">
          <h1 class="display-3 text-white mb-3 animated slideInDown">
            Services
          </h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Pages</a></li>
              <li class="breadcrumb-item text-white active" aria-current="page">
                Services
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- Service Start -->
    <div class="container-xxl service py-5">
      <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="text-primary text-uppercase">// Our Services //</h6>
          <h1 class="mb-5">Explore Our Services</h1>
        </div>
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
          <div class="col-lg-4">
            <div class="nav w-100 nav-pills me-4">
              <button
                class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4 active"
                data-bs-toggle="pill"
                data-bs-target="#tab-pane-1"
                type="button"
              >
                <i class="fa fa-car-side fa-2x me-3"></i>
                <h4 class="m-0">Diagnostic Test</h4>
              </button>
              <button
                class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4"
                data-bs-toggle="pill"
                data-bs-target="#tab-pane-2"
                type="button"
              >
                <i class="fa fa-car fa-2x me-3"></i>
                <h4 class="m-0">Engine Servicing</h4>
              </button>
              <button
                class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4"
                data-bs-toggle="pill"
                data-bs-target="#tab-pane-3"
                type="button"
              >
                <i class="fa fa-cog fa-2x me-3"></i>
                <h4 class="m-0">Tires Replacement</h4>
              </button>
              <button
                class="nav-link w-100 d-flex align-items-center text-start p-4 mb-0"
                data-bs-toggle="pill"
                data-bs-target="#tab-pane-4"
                type="button"
              >
                <i class="fa fa-oil-can fa-2x me-3"></i>
                <h4 class="m-0">Oil Changing</h4>
              </button>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="tab-content w-100">
              <div class="tab-pane fade show active" id="tab-pane-1">
                <div class="row g-4">
                  <div class="col-md-6" style="min-height: 350px">
                    <div class="position-relative h-100">
                      <img
                        class="position-absolute img-fluid w-100 h-100"
                        src="static/img/service-1.jpg"
                        style="object-fit: cover"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h3 class="mb-3">
                      10 Years Of Experience In Auto Servicing
                    </h3>
                    <p class="mb-4">
                      We use advanced diagnostic tools to quickly and accurately identify any issues with your vehicle, saving you time and money.
                    </p>
                    <p>
                      <i class="fa fa-check text-success me-3"></i>Quality
                      Servicing
                    </p>
                    <p>
                      <i class="fa fa-check text-success me-3"></i>Expert
                      Workers
                    </p>
                    <p>
                      <i class="fa fa-check text-success me-3"></i>Modern
                      Equipment
                    </p>
                    <a href="" class="btn btn-primary py-3 px-5 mt-3"
                      >Read More<i class="fa fa-arrow-right ms-3"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-pane-2">
                <div class="row g-4">
                  <div class="col-md-6" style="min-height: 350px">
                    <div class="position-relative h-100">
                      <img
                        class="position-absolute img-fluid w-100 h-100"
                        src="static/img/service-2.jpg"
                        style="object-fit: cover"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h3 class="mb-3">
                      10 Years Of Experience In Auto Servicing
                    </h3>
                    <p class="mb-4">
                      From tune-ups to major repairs, our expert mechanics ensure your engine runs smoothly, efficiently, and reliably.
                    </p>
                    <p>
                      <i class="fa fa-check text-success me-3"></i>Quality
                      Servicing
                    </p>
                    <p>
                      <i class="fa fa-check text-success me-3"></i>Expert
                      Workers
                    </p>
                    <p>
                      <i class="fa fa-check text-success me-3"></i>Modern
                      Equipment
                    </p>
                    <a href="" class="btn btn-primary py-3 px-5 mt-3"
                      >Read More<i class="fa fa-arrow-right ms-3"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-pane-3">
                <div class="row g-4">
                  <div class="col-md-6" style="min-height: 350px">
                    <div class="position-relative h-100">
                      <img
                        class="position-absolute img-fluid w-100 h-100"
                        src="static/img/service-3.jpg"
                        style="object-fit: cover"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h3 class="mb-3">
                      10 Years Of Experience In Auto Servicing
                    </h3>
                    <p class="mb-4">
                      We provide quality tire fitting and balancing for a safer, smoother drive—whether for everyday use or long road trips.
                    </p>
                    <p>
                      <i class="fa fa-check text-success me-3"></i>Quality
                      Servicing
                    </p>
                    <p>
                      <i class="fa fa-check text-success me-3"></i>Expert
                      Workers
                    </p>
                    <p>
                      <i class="fa fa-check text-success me-3"></i>Modern
                      Equipment
                    </p>
                    <a href="" class="btn btn-primary py-3 px-5 mt-3"
                      >Read More<i class="fa fa-arrow-right ms-3"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-pane-4">
                <div class="row g-4">
                  <div class="col-md-6" style="min-height: 350px">
                    <div class="position-relative h-100">
                      <img
                        class="position-absolute img-fluid w-100 h-100"
                        src="static/img/service-4.jpg"
                        style="object-fit: cover"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h3 class="mb-3">
                      10 Years Of Experience In Auto Servicing
                    </h3>
                    <p class="mb-4">
                      Regular oil changes with top-grade lubricants help extend your engine’s life and improve overall performance.
                    </p>
                    <p>
                      <i class="fa fa-check text-success me-3"></i>Quality
                      Servicing
                    </p>
                    <p>
                      <i class="fa fa-check text-success me-3"></i>Expert
                      Workers
                    </p>
                    <p>
                      <i class="fa fa-check text-success me-3"></i>Modern
                      Equipment
                    </p>
                    <a href="" class="btn btn-primary py-3 px-5 mt-3"
                      >Read More<i class="fa fa-arrow-right ms-3"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service End -->

    <!-- Booking Start -->
    <div
      class="container-fluid better-booking my-5 wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <div class="container booking-faded-bg">
        <form onsubmit="handleSubmit(event)" method="post" class="row gx-5">
          <div class="col-lg-6">
            <div
              class="left-column h-100 d-flex flex-column text-center p-5 wow"
              data-wow-delay="0.6s"
            >
              <h1 class="mb-4">Book For A Service</h1>
              <div class="row g-3">
                <div class="col-12 col-sm-6">
                  <input
                    type="text"
                    class="form-control border-0"
                    placeholder="Full Name"
                    name="name"
                    style="height: 55px"
                    required
                  />
                </div>
                <div class="col-12 col-sm-6">
                  <input
                    type="email"
                    class="form-control border-0"
                    placeholder="Your Email"
                    name="email"
                    style="height: 55px"
                    required
                  />
                </div>
                <div class="col-12 col-sm-6">
                  <input
                    type="phone"
                    class="form-control border-0"
                    placeholder="07XXXXXXXX"
                    name="phone"
                    style="height: 55px"
                    required
                  />
                </div>

                <div class="col-12 col-sm-6">
                  <div
                    class="date"
                    id="date1"
                    data-target-input="nearest"
                    style="position: relative"
                  >
                    <input
                      type="text"
                      class="form-control border-0 datetimepicker-input"
                      placeholder="Service Date"
                      data-target="#date1"
                      data-toggle="datetimepicker"
                      style="height: 55px"
                      name="start_date"
                      required
                    />
                  </div>
                </div>
                <div class="col-12">
                  <select
                    class="form-select border-0"
                    style="height: 55px"
                    name="service"
                    onchange="handleServiceChange(event)"
                    required
                  >
                    <option selected>Select A Service</option>
                    <option value="1" data-price="170">Diagnostics Test</option>
                    <option value="2" data-price="280.99">
                      Engine Service
                    </option>
                    <option value="3" data-price="239.99">
                      Tires Replacement
                    </option>
                    <option value="4" data-price="15">Oil Changing</option>
                    <option value="5" data-price="30.99">Brake Repair</option>
                    <option value="6" data-price="149.99">
                      Car Wash & Detailing
                    </option>
                  </select>
                </div>
                <div class="col-12">
                  <textarea
                    class="form-control border-0 txt-area"
                    placeholder="Special Request"
                    name="special_request"
                  ></textarea>
                </div>
                <div class="col-12">
                  <button
                    class="book-btn btn bg-primary w-100 py-3 text-white"
                    type="submit"
                  >
                    <span>Book Now</span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="24px"
                      viewBox="0 -960 960 960"
                      width="24px"
                      fill="#000000"
                    >
                      <path
                        d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q17 0 28.5 11.5T520-840q0 17-11.5 28.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160q133 0 226.5-93.5T800-480q0-17 11.5-28.5T840-520q17 0 28.5 11.5T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80Z"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 summary-column">
            <div class="summary-inner d-flex flex-column p-5">
              <h1 class="text-black mb-4">Your Summary</h1>
              <div class="col-12">
                <div class="balance-txt summary-txt">
                  <span>Service Cost:</span>
                  <span class="balance-span-txt">$0.00</span>
                </div>
                <div class="vat-txt summary-txt">
                  <span>VAT: <strong>(12%):</strong></span>
                  <span class="vat-span-txt">$0.00</span>
                </div>
              </div>
              <div class="separator"></div>
              <div class="col-12">
                <div class="total-txt summary-txt">
                  <span
                    >Total <br />
                    <strong>(incl. VAT )</strong>
                  </span>
                  <span class="tot-span-txt">$0.00</span>
                </div>
              </div>
              <div class="col-12">
                <span class="alert-txt"
                  >*You will be required to pay once the appointment is
                  complete</span
                >
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Booking End -->

    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container">
        <div class="text-center">
          <h6 class="text-primary text-uppercase">// Testimonial //</h6>
          <h1 class="mb-5">Our Clients Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
          <div class="testimonial-item text-center">
            <img
              class="bg-light rounded-circle p-2 mx-auto mb-3"
              src="static/img/Njoroge.jpg"
              style="width: 80px; height: 80px"
            />
            <h5 class="mb-0">Njoroge Samuel</h5>
            <p>Logistics Manager</p>
            <div class="testimonial-text bg-light text-center p-4">
              <p class="mb-0">
                CarEase has been a game-changer for my fleet. Their professionalism and quick turnaround keep my delivery schedules on track every time.
              </p>
            </div>
          </div>
          <div class="testimonial-item text-center">
            <img
              class="bg-light rounded-circle p-2 mx-auto mb-3"
              src="static/img/Grace.jpg"
              style="width: 80px; height: 80px"
            />
            <h5 class="mb-0">Grace Namasoke</h5>
            <p>Nurse</p>
            <div class="testimonial-text bg-light text-center p-4">
              <p class="mb-0">
                I feel confident driving after every service. They explain everything clearly and never recommend unnecessary work—truly trustworthy.
              </p>
            </div>
          </div>
          <div class="testimonial-item text-center">
            <img
              class="bg-light rounded-circle p-2 mx-auto mb-3"
              src="static/img/Deng.jpg"
              style="width: 80px; height: 80px"
            />
            <h5 class="mb-0">Deng Ajang</h5>
            <p>Civil Engineer</p>
            <div class="testimonial-text bg-light text-center p-4">
              <p class="mb-0">
                Their diagnostic tools are top-notch. They found and fixed an issue my previous mechanic missed. My car has never run better.
              </p>
            </div>
          </div>
          <div class="testimonial-item text-center">
            <img
              class="bg-light rounded-circle p-2 mx-auto mb-3"
              src="static/img/Achieng.jpg"
              style="width: 80px; height: 80px"
            />
            <h5 class="mb-0">Achieng Njeri</h5>
            <p>Entrepreneur</p>
            <div class="testimonial-text bg-light text-center p-4">
              <p class="mb-0">
                From booking to pick-up, the process is smooth and stress-free. I highly recommend CarEase for anyone who values quality and reliability.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial End -->

    <!-- Footer Start -->
    <div
      class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn"
      data-wow-delay="0.1s"
    >
      <div class="container py-5">
        <div class="row g-5">
          <div class="col-lg-3 col-md-6">
            <h4 class="text-light mb-4">Address</h4>
            <p class="mb-2">
              <i class="fa fa-map-marker-alt me-3"></i> General methenge/Westlands
            </p>
            <p class="mb-2">
              <i class="fa fa-phone-alt me-3"></i>+254 745 678 900
            </p>
            <p class="mb-2">
              <i class="fa fa-envelope me-3"></i>carease@gmail.com
            </p>
            <div class="d-flex pt-2">
              <a class="btn btn-outline-light btn-social" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-outline-light btn-social" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-outline-light btn-social" href=""
                ><i class="fab fa-youtube"></i
              ></a>
              <a class="btn btn-outline-light btn-social" href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <h4 class="text-light mb-4">Opening Hours</h4>
            <h6 class="text-light">Monday - Friday:</h6>
            <p class="mb-4">09.00 AM - 09.00 PM</p>
            <h6 class="text-light">Saturday - Sunday:</h6>
            <p class="mb-0">09.00 AM - 12.00 PM</p>
          </div>
          <div class="col-lg-3 col-md-6">
            <h4 class="text-light mb-4">Services</h4>
            <a class="btn btn-link" href="/services">Diagnostic Test</a>
            <a class="btn btn-link" href="/services">Engine Servicing</a>
            <a class="btn btn-link" href="/services">Tires Replacement</a>
            <a class="btn btn-link" href="/services">Oil Changing</a>
            <a class="btn btn-link" href="/services">Vacuam Cleaning</a>
          </div>
          <div class="col-lg-3 col-md-6">
            <h4 class="text-light mb-4">Newsletter</h4>
            <p>Stay updated with the latest tips, offers, and auto care news—straight to your inbox.</p>
            <div class="position-relative mx-auto" style="max-width: 400px">
              <input
                class="form-control border-0 w-100 py-3 ps-4 pe-5"
                type="text"
                placeholder="Your email"
              />
              <button
                type="button"
                class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2"
              >
                SignUp
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="copyright">
          <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
              &copy; <a class="border-bottom" href="#">CarEase</a>, All
              Right Reserved.

              <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
              Designed By
              <a class="border-bottom" href="https://htmlcodex.com"
                >HTML Codex</a
              >
            </div>
            <div class="col-md-6 text-center text-md-end">
              <div class="footer-menu">
                <a href="">Home</a>
                <a href="">Cookies</a>
                <a href="">Help</a>
                <a href="">FQAs</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script>
    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/services.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-toast-notifier/dist/index.umd.js"></script>
  </body>
</html>
